
@tailwind base;
@tailwind components;
@tailwind utilities;

/*
? Estilos para remover el color de fondo de los inputs 
*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
}
